/*MATY: HEADER*/
    
/*FIN HEADER MATY*/



/*HERO: CESAR*/

/*FIN HERO CESAR*/



/*DISCOVER: FABI*/

/*FIN DISCOVER FABI*/



/*CATEGORIES: MAX*/

/*FIN CATEGORIES MAX*/



/*PRODUCTS: AYE*/

.product:hover{
    box-shadow: 8px 8px 14px -8px rgba(255,255,255,0.4);
}

.product-bot button{
    transition: all 300ms ease-in;   
}

.product-bot button:hover{
    transform: scale(1.1,1.1);
    transition: all 300ms ease-out;
    animation-direction: alternate;
}
/*FIN PRODUCTS AYE*/



/*FOOTER: MATY*/

/*FIN FOOTER MATY*/