@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --bg-negro: #131415;
    --bg-gris: #252525;
    --texto: #FFFFFF;
    --bg-amarillo: #FFA400;
    --bg-rojo: #FC2933;
    --bg-gradient: linear-gradient(to right, #FFA100, #FB103D);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    background: var(--bg-negro);
}


/*MATY: HEADER*/
    
/*FIN HEADER MATY*/



/*HERO: CESAR*/

/*FIN HERO CESAR*/



/*DISCOVER: FABI*/

/*FIN DISCOVER FABI*/



/*CATEGORIES: MAX*/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    flex-direction: column;
}

#categories h3 {
color: var(--texto);
width: 100%;
font-size: 13px;
margin-top: 40px;
margin-bottom: 40px;
margin-left: 20px;
}

.categories {
    flex-wrap: wrap;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    border-radius: 15px;
    background: none;
}

.div__categories {
    top: 40px;
    background-position: center;
    width: 100px;
    height: 150px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--bg-gris);
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

.categories :hover {
        background: rgb(95, 95, 95);
        transition: all 0.3s ease;
      }
      .categories img {
        animation: rotate 4s infinite;
      }
      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        } 
    }

.categories img{
    width: 60px;
    background: none;
    align-items: center;
    align-content:center;
    box-shadow: 0px 48px 128px rgba(0, 0, 0, 0.4)
}


.categories p {
    color: var(--texto);
    font-size: 10px;
    align-items: center;
    margin-top: 3px;
    background: none;
    width:max-content;
}

.hr {
    align-items:center;
    align-content:center;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background: var(--bg-gradient);
    border-style: none;
    padding: 2px;
}






/*FIN CATEGORIES MAX*/



/*PRODUCTS: AYE*/

/*FIN PRODUCTS AYE*/



/*FOOTER: MATY*/

/*FIN FOOTER MATY*/




